.nav-menu{
    position: absolute;
    background-color: black;
    text-align: center;
}

.nav-menu.mobile.portrait{
    bottom: 0;
    width: 100vw;
    height: 8vh;
    min-height: 60px;
}

.nav-menu.mobile.landscape{
    left:0;
    width: 8vw;
    height: 100vh;
    min-width: 60px;
}

.nav-menu.desktop{
    left:0;
    width: 8vw;
    height: 100vh;
    min-width: 60px;
}

.nav-menu.tablet.portrait{
    bottom: 0;
    width: 100vw;
    height: 8vh;
    min-height: 60px;
}

.nav-menu.desktop:hover{
  width: 15vw;
  min-width: 250px;
  text-align: left;
  padding-left: 47px;
}

.nav-menu.tablet.landscape{
    left:0;
    width: 8vw;
    height: 100vh;
    min-width: 60px;
}

.menu-item-container{
    text-align: inherit;
    z-index: 10;
}

.menu-item-container.mobile.portrait{
    display: inline-block;
    width: 20vw;
    margin-top: 10px;
}

.menu-item-container.mobile.landscape{
    height: 15vh;
    margin-top: 5vh;
}

.menu-item-container.tablet.portrait{
    display: inline-block;
    width: 20vw;
    margin-top: 25px;
}

.menu-item-container.tablet.landscape{
    height: 90px;
    margin-top: 20px;
    display: table-cell;
    vertical-align: middle;
}

.menu-item-container.desktop{
    padding-top: 20px;
    height: 70px;
}

.menu-item-icon-container{
    vertical-align: top;
    height: 100%;
    display: inline-block;
    width: 50px;
    z-index: 9;
}

.MuiSvgIcon-root.MuiSvgIcon-colorPrimary{
    color: white;
    z-index: 100;
}

.MuiSvgIcon-root.MuiSvgIcon-colorAction{
    color: lightcoral;
    z-index: 100;
}

.menu-item-title-container{
    display: inline-block;
    margin-left: 10px;
}

.menu-item-title{
    margin-top: 7px;
    vertical-align: top;
    text-align: left;
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}

.menu-item-title.action{
    color: lightcoral
}