.nav-menu{
    position: absolute;
    background-color: black;
}

.nav-menu.mobile.portrait{
    bottom: 0;
    width: 100vw;
    height: 8vh;
    min-height: 60px;
}

.nav-menu.mobile.landscape{
    left:0;
    width: 8vw;
    height: 100vh;
    min-width: 60px;
}

.nav-menu.desktop{
    left:0;
    width: 8vw;
    height: 100vh;
    min-width: 60px;
}

.nav-menu.tablet.portrait{
    bottom: 0;
    width: 100vw;
    height: 8vh;
    min-height: 60px;
}

.nav-menu.tablet.landscape{
    left:0;
    width: 8vw;
    height: 100vh;
    min-width: 60px;
}

.menu-item-container{
    text-align: center;
}

.menu-item-container.mobile.portrait{
    display: inline-block;
    width: 20vw;
    margin-top: 10px;
}

.menu-item-container.mobile.landscape{
    height: 15vh;
    margin-top: 5vh;
}

.menu-item-container.tablet.portrait{
    display: inline-block;
    width: 20vw;
    margin-top: 25px;
}

.menu-item-container.tablet.landscape{
    height: 70px;
    margin-top: 20px;
}

.menu-item-container.desktop{
    height: 70px;
    margin-top: 20px;
}

.MuiSvgIcon-root{
    color: rgb(230, 227, 227);
}