.form-container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
}

.form-title{
    font-family: Mukta;
    font-weight: bold;
    color: black;
    font-size: 22px;
    line-height: 20px;
    padding-bottom: 10px;
}

.form-message{
    color: black
}

.form-element-container{
    margin: 10px;
}