.action-message-container{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 250px;
    line-height: 20px;
    background-color: #01aa00;
    border-radius: 10%;
    border: 1px solid darkviolet;
}

.action-message-container.mobile{
    width: 130px;
}

.action-message-container{
    top:25%
}

/*.action-message-container.mobile.landscape{
    display: none
}*/

.action-message-text{
    color: darkviolet;
    font-weight: 900;
    padding: 2px;
    font-family: Mukta;
}