.MuiPaper-root{
    position: absolute;
    max-width: 1400px;
    transform: translate(-50%, 0%);
    left: 50%;
    margin: 0;
}

.Mui-selected{
    background-color: green;
}

.username-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.suit-container:after{
    font-size: 18px;
}

.d.suit-container:after{
    content: "\2666";
    color: red;
}

.h.suit-container:after{
    content: "\2665";
    color: red;
}

.c.suit-container:after{
    content: "\2663";
    color: black;
}

.s.suit-container:after{
    content: "\2660";
    color: black;
}

.x.suit-container:after{
    content: "\2298";
    color: black;
}

