.section-header-container.desktop{
    min-height: 40px;
    right: 0px;
    width: 76vw;
    margin: 10px 2vw 5px 2vw;
    max-width: 1300px;
}

.section-header-container.tablet.portrait{
    position: absolute;
    background-color: white;
    right: 0;
    bottom: 0;
    z-index: 100;
    min-height: 40px;
    width: 96vw;
    margin: 10px 2vw 5px 2vw;
}

.section-header-container.mobile{
    position: absolute;
    background-color: white;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.section-header-container.mobile.portrait{
    width: 100vw;
    margin: 1vh;
}

.section-header-container.mobile.landscape{
    width: 91vw;
    margin: 1vh;
}

.controls-container{
    overflow: scroll;
    white-space: nowrap;
    text-align: right;
}

.controls-container.desktop{
    width: 76vw
}

.controls-container.tablet.portrait{
    width: 96vw
}

.controls-container.mobile.portrait{
    width: 100vw
}

.controls-container.mobile.landscape{
    width: 91vw
}