.main-logo-container.desktop{
    position: absolute;
    right: 10px;
    top: -13vh
}

.main-logo-container.mobile.portrait{
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: lightgray;
}

.main-logo-container.mobile.landscape{
    position: absolute;
    right: 5px;
}

.main-logo-container.tablet.portrait{
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: lightgray;
}

.main-logo-text{
    color: black;
    font-family: Arial;
    font-weight: bold;
}

.main-logo-text.desktop{
    font-size: 44px
}

.main-logo-text.mobile{
    font-size: 30px;
    margin: 1vh;
}

.main-logo-text.mobile.landscape{
    max-width: 150px;
    overflow-wrap: normal;
    text-align: right;
}

.main-logo-text.tablet{
    font-size: 44px;
    margin: 1vh;
}